@page "/about"
<div>
    <p><b><em>This is a demo blazor webassembly project. </em></b></p>
    <p><b><em>Made By <a href="https://github.com/dewasahu2003">Dewa Sahu</a> deployed using Github and Heroku.</em></b></p>

</div>