@using Finance.Client.Services;

<div>
    <div style="margin-top: auto; margin-right:auto; text-align: center;"><b>@Data.Label</b></div>
    <RadzenChart>
        <RadzenPieSeries Fills="@Colors"
                         Data="@Data.Data"
                         Title="@Data.Label"
                         CategoryProperty="Category"
                         ValueProperty="Amount" />
    </RadzenChart>
</div>